---
layout: layouts/base.njk
section: publication
---
<div class="page-container">
  <article>
    <h1>{{ title }}</h1>
    <p>
      <small>
        <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by
        {% for aut in author.split(", ")%}
          {% if loop.last %}
             <a href="/authors/publications/{{ aut | slug }}/">{{ aut }}</a>
          {% else %}
              <a href="/authors/publications/{{ aut | slug }}/">{{ aut }},</a>
            {% endif %}
        {% endfor %}
      </small>
    </p>
    <hr>

    {{ layoutContent | safe }}

    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "publication" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/publications/' | url }}">← View All Publications</a>
  </nav>
</div>